/*height will set the maximum scroll boundry for the clip*/
#set-height {
  display: block;
  height: 1500px;
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
p font-family helvetica {
  font-size: 24px;
}

